[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-xdist = "*"
pytest-html = "*"
requests = "*"
update = "*"

[dev-packages]

[requires]
python_version = "3.12"
